{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AIpedia</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" >
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_stairs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_charas.css' %}">
{#    <link rel="stylesheet" href="glide.core.min.css">#}
{#    <link rel="stylesheet" href="glide.theme.min.css">#}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/content_list_style.css' %}">

</head>

<body>

<div>

    <div class="stairs">
        <div class="base_stair"></div>
        <div class="step" style="--j:1";>
            <i></i>
            <i></i>
        </div>
        <div class="step" style="--j:2";>
            <i></i>
            <i></i>
        </div>
        <div class="Stairs-of-AI">Level of AI</div>
        <div class="step" style="--j:3";>
            <i></i>
            <i></i>
        </div>
        <div class="step" style="--j:4";>
            <i></i>
            <i></i>
        </div>
        <div class="step" style="--j:5";>
            <i></i>
            <i></i>
        </div>
        <div class="step" style="--j:6";>
            <i></i>
            <i></i>
        </div>
        <div class="step" style="--j:7";>
            <i></i>
            <i></i>
        </div>
        <div class="step" style="--j:8";>
            <i></i>
            <i></i>
        </div>

    </div>


        <div class="stairs1">
        <div class="base_stair1"></div>
        <div class="step1" style="--j:1";>
            <i></i>
            <i></i>
        </div>
        <div class="step1" style="--j:2";>
            <i></i>
            <i></i>
        </div>
        <div class="step1" style="--j:3";>
            <i></i>
            <i></i>
        </div>
        <div class="step1" style="--j:4";>
            <i></i>
            <i></i>
        </div>
        <div class="step1" style="--j:5";>
            <i></i>
            <i></i>
        </div>
        <div class="step1" style="--j:6";>
            <i></i>
            <i></i>
        </div>
    </div>
    <div class="chara1">
        <a href="/content/showcourses_labale1/?lable=Data-Science-Data-Analysis">
        <img  src="/static/image/course_img/DVHome.png">
        </a>
    </div>
    <div class="chara2">
        <a href="/content/showcourses_labale1/?lable=Core-AI">
        <img  src="/static/image/course_img/NLPHome.png">
        </a>
    </div>
    <div class="chara3">
        <a href="/content/showcourses_labale1/?lable=Mathematics">
        <img  src="/static/image/course_img/CalculusHome.png">
        </a>
    </div>

    <a href="/content/showcourses_labale1/?lable=AI-Application-Domains">
    <div class="chara4">
        <img  src="/static/image/course_img/DSHome.png">
    </div>
    </a>

    <div class="chara5">
        <a href="/content/showcourses_labale1/?lable=Computer-Science">
        <img  src="/static/image/course_img/COHome.png">
        </a>
    </div>
{#    <div class="button_area">#}
        <div class="button_left">
            <a href="/content/courses_list" class="button">
                <div class="button__content">
                   <span class="button__text">Study</span>

                   <div class="button__reflection-1"></div>
                   <div class="button__reflection-2"></div>
                </div>

                <img src="{% static 'image/homepage_button_img/star.png' %}" alt="" class="button__star-1">
                <img src="{% static 'image/homepage_button_img/star.png' %}" alt="" class="button__star-2">
                <img src="{% static 'image/homepage_button_img/circle.png' %}" alt="" class="button__circle-1">
                <img src="{% static 'image/homepage_button_img/circle.png' %}" alt="" class="button__circle-2">
                <img src="{% static 'image/homepage_button_img/diamond.png' %}" alt="" class="button__diamond">
                <img src="{% static 'image/homepage_button_img/triangle.png' %}" alt="" class="button__triangle">

                <div class="button__shadow"></div>
             </a>
        </div>
        <div class="button_right">
            <a href="/content/content_list" class="button">
                <div class="button__content" class="button_div_right">
                   <span class="button__text">Share</span>

                   <div class="button__reflection-1"></div>
                   <div class="button__reflection-2"></div>
                </div>

                <img src="{% static 'image/homepage_button_img/star.png' %}" alt="" class="button__star-1">
                <img src="{% static 'image/homepage_button_img/star.png' %}" alt="" class="button__star-2">
                <img src="{% static 'image/homepage_button_img/circle.png' %}" alt="" class="button__circle-1">
                <img src="{% static 'image/homepage_button_img/circle.png' %}" alt="" class="button__circle-2">
                <img src="{% static 'image/homepage_button_img/diamond.png' %}" alt="" class="button__diamond">
                <img src="{% static 'image/homepage_button_img/triangle.png' %}" alt="" class="button__triangle">

                <div class="button__shadow"></div>
             </a>
        </div>
{#    </div>#}




</div>
<script>
    let total = 2;
    let shadow = '';
    for(let i=1;i<=total;i++){
        shadow+=`-${i}px ${i}px 0 #c5c5c5,`;
    }
    shadow = shadow.slice(0,-1);
    const text = document.querySelector('.Stairs-of-AI');
    text.style.textShadow = shadow;
</script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>



