{% extends "base/base1.html" %}
{% load static %}

{% block content %}

    <div class="container">
    <div class="reading">
        <h2>Reading</h2>

    </div>
    <div class="shell">
{% for item in queryset %}
    <div class="box">
        <div>
            <div class="images">
                <img src="/static/image/course_img/{{ item.level2 }}.png" alt="{{ item.level2 }}">
            </div>
            <div class="content">
                <a href="/content/all_courses/?id={{ item.id }}">
                <h2 style="background-color: white; width: fit-content">START</h2>
                </a>
                <p>{{ item.title }}, the style in the painting integrates temptation, fantasy and strangeness
                </p>
            </div>
            <p style="font-family: Algerian; font-size: small"><a href="/content/all_courses/?id={{ item.id }}">{{ item.title }}</a></p>
        </div>

    </div>
{% endfor %}
    </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}