{% extends "base/base.html" %}
{% load static %}

{% block content %}

    <div class="container">
    <div>
        <h2>Reading</h2>

    </div>
    <div class="shell">
{% for item in queryset %}
        <div class="box">
            <div class="images">
                <img src="/static/image/course_img/{{ item.title }}.png" alt="{{ item.title }}">
            </div>
            <div class="content">
                <a href="/content/all_content/?id={{ item.id }}">
                <h2>{{item.title}}</h2>
                </a>
                <p>{{ item.title }}, the style in the painting integrates temptation, fantasy and strangeness
                </p>
            </div>
        </div>
{% endfor %}
    </div>
    </div>
{% endblock %}