{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="shell">

        <div class="box">
            <div class="images">
                <img src="{% static 'image/play_img/play1.png' %}" >
            </div>
            <div class="content">
                <a href="/content/all_content/">
                <h2></h2>
                </a>
                <p> You must rescue the little monster in the forest!
                </p>
            </div>
        </div>

    </div>
{% endblock %}